body { 
  font-size: 22px; 
  line-height: 1.4; 
  color: #444; 
  padding: 150px;
}

ul, li { list-style: none; padding: 0; margin: 0; }

.select-list-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative
  box-shadow: 2px 2px 0.5px rgba(68, 68, 68, 0.3);
  border-radius: .3em;
  padding: 10px 15px;
  background: #f5f5f5
}

.select-list-container .list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
}

.select-list-container.active .list {
  max-height: 2000px;
}
